<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.pool.size">100</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.jdbc.batch_size">500</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="dialect">org.hibernate.dialect.SQLServer2012Dialect</property>

        <!-- HikariCP -->
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider
        </property>
        <property name="hibernate.hikari.poolName">HikariPool-Azure</property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.connectionTestQuery">SELECT 1</property>

        <!-- EHCache -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory
        </property>

        <!-- MAPPING -->
        <mapping class="com.ossez.framework.common.models.orm.CarInventory"/>
        <mapping class="com.ossez.framework.common.models.orm.CarReservation"/>

    </session-factory>
</hibernate-configuration>
